fastapi
uvicorn[standard]
watchfiles
sqlalchemy[asyncio]
asyncpg
alembic
qdrant-client
groq
openai
pymupdf
pydantic
pydantic-settings
python-dotenv
python-multipart
sentence-transformers
einops
python-docx
weasyprint
jinja2
rapidfuzz
spacy
